<!DOCTYPE html>
<html>
<head>
    <title>{{ detalle.title }}</title>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/static/js/selectivizr-min.js"
            ></script>
    <![endif]-->
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0,
          user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
    <link href="/static/css/layout.css" rel="stylesheet"/>
    <script type="text/javascript" src="/static/js/prefixfree.min.js"></script>
    <script type="text/javascript" src="/static/js/prefixfree.jquery.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <div id="wrap">
        {% block body %}{% endblock %}
    </div>
</body>
</html>